<h1>Search for Github users</h1>
<form action="" class="search-form container">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search git username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
    </div>
 </form>
 <div *ngIf="userProfile" class="container">
     <div class="panel panel-default">
         <div class="panel-heading">
             {{userProfile.name}}<h3>({{userProfile.login}})</h3>
             <span *ngIf="userProfile.company">,Works at {{userProfile.company}}</span>{{userProfile.location}}
         </div>
         <div class="panel-body">
             <div class="row">
                 <div class="col-sm-3">
                     <img src="{{userProfile.avatar_url}}" class="img-circle img-responsive" alt="profile Image">
                 </div>
                 <div class="col-sm-5">
                     <ul class="list-group">
                         <li class="list-group-item" *ngIf="userProfile.bio"> {{userProfile.bio}}</li>
                         <li class="list-group-item" *ngIf="userProfile.hireable"> Available for hire </li>
                         <li class="list-group-item" *ngIf="userProfile.blog"> <a href="{{userProfile.blog}}" target="blank"> {{userProfile.blog}}</a> </li>
                         <li class="list-group-item" *ngIf="userProfile.email"> <a href="emailto:{{userProfile.email}}"> {{userProfile.email}}</a> </li>
                     </ul>
                 </div>
                 <div class="col">
                     <p>
                         <span class="label label-default">{{userProfile.followers}} Followers</span>
                         <span class="label label-primary">{{userProfile.following}} Following</span>
                         <span class="label label-success">{{userProfile.public_gists}} Public gists</span> <br>
                         <span class="label label-info">{{userProfile.public_repos}} ublic Repos</span>
                     </p>
                     <p> <a href="{{userProfile.html_url}}" target="blank" class="btn-success btn-sm">View user profile on github</a></p>
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             <h3 class="panel-title">Repos</h3> <hr>
                         </div>
                         <div class="panel-body" *ngFor="let repo of repos">
                             <p class="clearfix">{{repo.name}}
                                 <a href="{{repo.html_url}}" target="blank" class="btn btn-sm btn-warning pull-right">View Project on Github</a>
                             </p>
                             <p> {{repo.description}} </p>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     </div>
 </div>