.search-form{
    padding-top: 50px;
}

.panel-body > .row{
    align-items: center;
    display: flex;   
}

h1{
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

.search-bar input{
    width: 75%;
}

form{
    background-color: #2fdfb3;
    padding: 80px;
}

.search-form .form-group input[type=text] {
    float: left;
    padding: 7px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
  }

.label-default{
    background-color: #8b8888;
}

.label-primary{
    background-color: #3978af;
}

.label-success{
    background-color: #54a554;
}

.label-info{
    background-color: #50abc7;
}

.label{
    margin-right: 5px;
    padding: 3px;
}

.panel-title{
    background-color: #e0d7d7
}

img{
    border-radius: 50%;
}